.teaching-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
  justify-content: flex-start; // Align tiles to the start
}

.teaching-content h3 {
  margin-top: 0;
  font-size: 1em;
}